<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 					
<!-- UserMapper 참조할 것 -->

<!-- TTL : 7EA -->
<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product" >
		<result property="prodNo" 			column="prod_no" 				jdbcType="INTEGER"/>
		<result property="prodName" 		column="prod_name" 			jdbcType="VARCHAR"/>
		<result property="prodDetail" 		column="prod_detail" 			jdbcType="VARCHAR"/>
		<result property="manuDate" 		column="manufacture_day" 	jdbcType="VARCHAR"/>
		<result property="price" 				column="price" 						jdbcType="INTEGER"/>
		<result property="fileName" 			column="image_file" 				jdbcType="VARCHAR"/>
		<result property="regDate" 			column="reg_date" 				jdbcType="DATE"/>
		<result property="proTranCode" 	column="tran_status_code" 	jdbcType="CHAR"/>
	</resultMap>	
	
	
	<insert id="addProduct" parameterType="product">
		INSERT
		INTO product(prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date)
		VALUES(seq_product_prod_no.nextval, #{prodName:VARCHAR}, #{prodDetail:VARCHAR}, 
					#{manuDate:DATE}, #{price:INTEGER}, #{fileName:VARCHAR}, SYSDATE	)
	</insert>
	
	
	<select id="getProduct" parameterType="int" resultMap="productSelectMap">
		SELECT
		p.prod_no as prod_no, 
		p.prod_name as prod_name, 
		p.prod_detail as prod_detail, 
		p.manufacture_day as manufacture_day, 
		p.price as price, 
		p.image_file as image_file, 
		p.reg_date as reg_date, 
		t.tran_status_code as tran_status_code 
		FROM product p, transaction t 
		WHERE p.prod_no=t.prod_no (+)
		AND p.prod_no=#{prodNo}
	</select>
	
	<!-- 원본
	<select id="getProduct" parameterType="int" resultMap="productSelectMap">
		SELECT
		prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date 
		FROM product 
		WHERE prod_no=#{prodNo}
	</select>
	 -->
	
	
	<update id="updateProduct" parameterType="product">
		UPDATE product SET 
			prod_name			= #{prodName:VARCHAR},
			prod_detail 			= #{prodDetail:VARCHAR},
			manufacture_day	= #{manuDate:VARCHAR}, 
			price						= #{price:NUMERIC}, 
			image_file 			= #{fileName:VARCHAR} 			
		WHERE prod_no 		= #{prodNo}
	</update> <!-- user의 경우는 아이디로 들어가서 수정 prodNo(prod_no) 수정가능한가?? -->
	
	
	<delete id="removeProduct" parameterType="int">
		DELETE 
		FROM product
		WHERE prod_no = #{prodNo}
	</delete>
	
	
	<select  id="getProductList"  parameterType="search"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
	  											p.prod_no as prod_no, 
	  											p.prod_name as prod_name, 
	  											p.prod_detail as prod_detail, 
	  											p.manufacture_day as manufacture_day, 
	  											p.price as price, 
	  											p.image_file as image_file, 
	  											p.reg_date as reg_date, 
	  											t.tran_status_code as tran_status_code 
											FROM product p,  transaction t 
											WHERE p.prod_no=t.prod_no(+) 
											<if test="searchCondition != null">
												
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				AND p.prod_no like '%${searchKeyword}%' 
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				AND p.prod_name like '%${searchKeyword}%' 
													</if>
												
											</if>
											ORDER BY p.prod_no ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 
	 <!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*) 
	  	FROM(	SELECT 
	  					p.prod_no as prod_no, 
	  					p.prod_name as prod_name, 
	  					p.prod_detail as prod_detail, 
	  					p.manufacture_day as manufacture_day, 
	  					p.price as price, 
	  					p.image_file as image_file, 
	  					p.reg_date as reg_date, 
	  					t.tran_status_code as tran_status_code 
					FROM product p, transaction t 
					WHERE p.prod_no=t.prod_no(+) 
						<if test="searchCondition != null">
							
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			AND p.prod_no like '%${searchKeyword}%' 
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 			AND p.prod_name like '%${searchKeyword}%' 
								</if>
							
						</if> ) countTable	
	 </select>
	
</mapper>